.main {
  padding: 48px 24px;
  background-color: bisque;
}

.main ul {
  list-style: none;
  padding: 0;
  margin: 48px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 36px;
}
.main ul li {
  display: flex;
  flex-direction: column;
}
.main ul li > img {
  border-radius: 8px;
  margin-bottom: 8px;
}
.main ul li a {
  text-align: center;
  text-transform: capitalize;
}

.filter {
  background: #fff;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
  border-radius: 8px;
  height: 38px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  padding: 0 16px;
  width: 260px;
  margin: 0 auto;
  color: #6e6d7a;
  font-weight: 500;
  font-size: 14px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.person,
.album {
  display: flex;
  align-items: center;
  position: relative;
}

.person img,
.album img {
  opacity: 0.8;
}

.person a,
.album a {
  text-decoration: none;
  margin-left: 4px;
  color: #0d0c22;
  font-size: 14px;
  font-weight: 500;
}

.album a {
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person a:hover,
.album a:hover {
  color: #ea4c89;
}

.tooltip {
  color: #fde4c4;
  background-color: #0d0c22a6;
  display: none;
  position: absolute;
  border-radius: 4px;
  font-size: 12px;
  top: 24px;
  left: -16px;
  z-index: 1000;
  width: 180px;
  text-align: center;
  padding: 4px;
}

.album:hover .tooltip {
  display: block;
}
